# Nix
.direnv
/.pre-commit-config.yaml

# Dependencies
node_modules/

# Build output
dist
*.tsbuildinfo

# Secrets
.env
.env.*
!.env.example

# Playwright / Lighthouse
playwright-report/
test-results/
blob-report/
.lighthouseci/
