/* stylelint-disable import-notation */
@import "tailwindcss";
/* stylelint-enable import-notation */

:root {
  color-scheme: light dark;
}

/* stylelint-disable at-rule-no-unknown */
@theme {
  --font-sans: "Ubuntu", sans-serif;
  --color-background: light-dark(var(--color-stone-50), var(--color-stone-950));
  --color-foreground: light-dark(var(--color-stone-950), var(--color-stone-50));
  --color-card: light-dark(var(--color-stone-50), var(--color-stone-900));
  --color-card-foreground: light-dark(
    var(--color-stone-950),
    var(--color-stone-50)
  );
  --color-primary: light-dark(var(--color-stone-950), var(--color-stone-50));
  --color-primary-foreground: light-dark(
    var(--color-stone-50),
    var(--color-stone-950)
  );
  --color-secondary: light-dark(var(--color-stone-600), var(--color-stone-300));
  --color-secondary-foreground: light-dark(
    var(--color-stone-50),
    var(--color-stone-950)
  );
  --color-muted: light-dark(var(--color-stone-100), var(--color-stone-800));
  --color-muted-foreground: light-dark(
    var(--color-stone-600),
    var(--color-stone-400)
  );
  --color-accent: light-dark(var(--color-stone-200), var(--color-stone-800));
  --color-accent-foreground: light-dark(
    var(--color-stone-950),
    var(--color-stone-50)
  );
  --color-destructive: light-dark(var(--color-red-500), var(--color-red-400));
  --color-destructive-foreground: light-dark(
    var(--color-red-50),
    var(--color-red-950)
  );
  --color-border: light-dark(var(--color-stone-300), var(--color-stone-800));
  --color-ring: light-dark(var(--color-stone-700), var(--color-stone-500));
}
/* stylelint-enable at-rule-no-unknown */

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

body {
  min-height: 100dvh;
}

::selection {
  background-color: --alpha(var(--color-primary) / 12%);
}
