name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint
        uses: oxsecurity/megalinter/flavors/javascript@v9
        env:
          DISABLE_LINTERS: REPOSITORY_GRYPE,SPELL_CSPELL,TYPESCRIPT_STANDARD
          FLAVOR_SUGGESTIONS: false
